<div id="page-wrapper" class="min-h-screen bg-base-200 text-base-content ">
  <header class="container mx-auto py-6">
    {{ page.header }}
  </header>

  <main role="main" class="container mx-auto py-8">
    {{ page.content }}
  </main>

  <footer class="container mx-auto py-10 text-center text-sm opacity-50">
    {{ page.footer }}
  </footer>
</div>
